@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import 'tw-animate-css';

@layer base {
  :root {
    --safe-area-inset-bottom: env(safe-area-inset-bottom, 0px);
  }

  .pb-safe {
    padding-bottom: calc(16px + env(safe-area-inset-bottom, 0px));
  }

  .mb-safe {
    margin-bottom: calc(16px + env(safe-area-inset-bottom, 0px));
  }

  .pb-safe-only {
    padding-bottom: env(safe-area-inset-bottom, 0px);
  }

  .mb-safe-only {
    margin-bottom: env(safe-area-inset-bottom, 0px);
  }
}